.staff{
    border: #ffaa5a solid;
}

.staffMember{
    border: #ffd25a solid;
    height: 50px;
}

.day{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: #ff785a solid;
}

.timeCard{

    border: #191919 solid;

}

.roster{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.page {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectTime{
    display: flex;
    align-items: center;

}

.selectDay{
    display: none;
}

.block{
    float: left;
    height: 20px;
    width: 1px;
    margin-bottom: 15px;
    border: 1px solid black;
    clear: both;
    background-color: black;
}

.blockRow{
    display: flex;
}
